<!--<select #langSelect (change)="translateService.use(langSelect.value)">-->
  <!--<option *ngFor="let lang of translateService.getLangs()" [value]="lang" [selected]="lang === translateService.currentLang">{{ lang }}</option>-->
<!--</select>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<br>-->
<!--<div>{{globalState | json}}</div>-->
<!--<div>{{"title" | translate}}</div>-->
<!--<div>{{"test" | translate}}</div>-->
<nav>
  <a routerLink="/">home</a>
  <a routerLink="advanced-components">advanced-components</a>
  <a routerLink="data-architecture">data-architecture</a>
  <a routerLink="dependency-injection">dependency-injection</a>
  <a routerLink="forms">forms</a>
  <a routerLink="http">http</a>
  <a routerLink="redux">redux</a>
  <a routerLink="routing">routing</a>
  <a routerLink="structural-directives">structural-directives</a>
  <a routerLink="testing">testing</a>
</nav>
<router-outlet></router-outlet>

